import request from '../axios.config.js'
{% for method in methods %}
/**
* {{ method.summary }}
* @param data
*/
export function {{ method.methodName }} (data) {
  return request({
    url: '{{ method.path }}',
    method: '{{ method.method }}',
    params: data
  })
}{% endfor %}
